.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  color: #ffff66;
  font-size: 24px;
  width: 200px;
  font-weight: bold;
}

.fighter-preview___img {
  height: 300px;
}

.one-characteristic {
  display: flex;
  justify-content: flex-end;
  margin: 3px;
}

.fighter-preview___characteristic-title {
  width: 100px;
}
.fighter-preview___characteristic-value {
  flex-grow: 2;
}
